.App {
  text-align: center;
  color: white;
}

.container {
  position: right;;
}

body {
  margin: 0 auto;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}
.movie-container {
  display: flex;
  flex-direction: column;
  background-color: #DDDDDD;
}
.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.movie {
  flex: 50;
  margin: 10px;
  padding: 10px;
  border: 1px transparent;
  border-radius: 5px;
  background-color: #3D9970;
}
.movie img {
 align-self: center;
 width: 50%;
 height: auto;
}